body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
}

.inputPassword,
.inputLogin {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.authorizationButton {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-link {
    /* Add your register link styles here */
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.register-link a {
    /* Add your link styles here */
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    /* Add your link hover styles here */
    text-decoration: underline;
}


.authorizationButton:hover {
    background-color: #45a049;
}
