<div class="container500">
    <h1>Ошибка 500</h1>
    <p>К сожалению, на сервере ошибка.</p>
    <p>Пожалуйста, проверьте правильность введенного URL или вернитесь на <a href="/">главную страницу</a>.</p>
</div>
