<div class="container404">
    <h1>Ошибка 404</h1>
    <p>К сожалению, запрошенная страница не найдена.</p>
    <p>Пожалуйста, проверьте правильность введенного URL или вернитесь на <a href="/">главную страницу</a>.</p>
</div>